
#flames{
    background: orange;
    width: 270px;
    height: 290px;
    margin-top: 10%;
    margin-left: 40%;
    padding: 10px;
    border-radius:10px  ;

}
#name1, #name2 {
  margin-left: 20px;
    width: 170px;
    border-radius: 5px;
}
#btn{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 20px;
    border-radius: 9px;
}
#btn:hover{
    background-color: midnightblue;
    color:white;
}
#input{
    padding: 10px;
    align-items: center;

}
#input h2{
    text-align: center;
}
